#DataFrame

In [4]:
import pandas as pd
import numpy as np

s1 = pd.Series([1,2,3], index = ['a','b','c'])
s2 = pd.Series([6,7,8])
df = pd.DataFrame({"Property_1":s1,"Property_2":s2})
print(df)
print(df["Property_1"])

   Property_1  Property_2
a         1.0         NaN
b         2.0         NaN
c         3.0         NaN
0         NaN         6.0
1         NaN         7.0
2         NaN         8.0
a    1.0
b    2.0
c    3.0
0    NaN
1    NaN
2    NaN
Name: Property_1, dtype: float64

In [6]:
df = pd.DataFrame(
    {"stu_id": [100,101,102,103,104],
     "name": ['a','b','c','d','e'],
     "grade": [99, 66, 78, 82, 89]},
    index=[1,2,3,4,5], columns=['name','grade', 'stu_id']
)
print(df)

  name  grade  stu_id
1    a     99     100
2    b     66     101
3    c     78     102
4    d     82     103
5    e     89     104

## Properties

In [9]:
print(df.index)
print(df.columns)
print(df.values)

Index([1, 2, 3, 4, 5], dtype='int64')
Index(['name', 'grade', 'stu_id'], dtype='object')
[['a' 99 100]
 ['b' 66 101]
 ['c' 78 102]
 ['d' 82 103]
 ['e' 89 104]]

In [13]:
print(df.ndim)
print(df.dtypes)
print(df.shape)
print(df.size)

2
name      object
grade      int64
stu_id     int64
dtype: object
(5, 3)
15

In [14]:
print(df.T) # col row will change

          1    2    3    4    5
name      a    b    c    d    e
grade    99   66   78   82   89
stu_id  100  101  102  103  104

In [32]:
# loc iloc at iat
print(df)

print(df.loc[4, :])
print(df.loc[4, 'name'])

print(df.iloc[3, :])
# ...

print(df.loc[:, 'name'])

print(df.loc[:, ['name','grade']])
print(df.iloc[:,[i for i in range(2)]])

  name  grade  stu_id
1    a     99     100
2    b     66     101
3    c     78     102
4    d     82     103
5    e     89     104
name        d
grade      82
stu_id    103
Name: 4, dtype: object
d
name        d
grade      82
stu_id    103
Name: 4, dtype: object
1    a
2    b
3    c
4    d
5    e
Name: name, dtype: object
  name  grade
1    a     99
2    b     66
3    c     78
4    d     82
5    e     89
  name  grade
1    a     99
2    b     66
3    c     78
4    d     82
5    e     89

In [26]:
# get single column's data
print(df['name']) # -> Series
print(df.name) # -> Series
print(df[["name" , 'grade']])

1    a
2    b
3    c
4    d
5    e
Name: name, dtype: object
1    a
2    b
3    c
4    d
5    e
Name: name, dtype: object
  name  grade
1    a     99
2    b     66
3    c     78
4    d     82
5    e     89

In [33]:
print(df.head(2))
print(df.tail(2))

  name  grade  stu_id
1    a     99     100
2    b     66     101
  name  grade  stu_id
4    d     82     103
5    e     89     104

In [38]:
# BOOL slicing
print(df[df.grade>=85])
df[(df.grade>=85) & (df.stu_id<=103)]

  name  grade  stu_id
1    a     99     100
5    e     89     104

  name  grade  stu_id
1    a     99     100

In [40]:
# random sample
df.sample(2)

  name  grade  stu_id
3    c     78     102
4    d     82     103