In [1]:
import pandas as pd
import numpy as np

# Utils

In [6]:
df = pd.DataFrame(
    {"name": ["Tom", "Jacky", "Raymond", "Paul", "Bobby", "Niko"],
     "age": [29, 19, 18, 37, 16, 25],
     "score": [91,90,87,78,66,80]},
    index = [i for i in range(1,7)],
    columns = ['name', 'score', 'age']
)

In [9]:
# in
print(df.isin(['Raymond', 87, 18]))

    name  score    age
1  False  False  False
2  False  False  False
3   True   True   True
4  False  False  False
5  False  False  False
6  False  False  False

In [16]:
print(df.score.sum())
print(df.score.max())
print(df.score.mean(), df.score.median(), df.score.var(), df.score.std())
print(df.score.quantile(.25))
#
print(df.describe())

492
91
82.0 83.5 89.2 9.444575162494075
78.5
           score    age
count   6.000000   6.00
mean   82.000000  24.00
std     9.444575   8.00
min    66.000000  16.00
25%    78.500000  18.25
50%    83.500000  22.00
75%    89.250000  28.00
max    91.000000  37.00

In [18]:
# count
print(df.count())
print(df.value_counts())

name     6
score    6
age      6
dtype: int64
name     score  age
Bobby    66     16     1
Jacky    90     19     1
Niko     80     25     1
Paul     78     37     1
Raymond  87     18     1
Tom      91     29     1
Name: count, dtype: int64

In [23]:
# duplicates
df_ = pd.DataFrame(
    {"name": ["Tom", "Tom", "Raymond", "Paul", "Bobby", "Tom"],
     "age": [29, 29, 18, 37, 16, 25],
     "score": [91,91,87,78,66,80]},
    index = [i for i in range(1,7)],
    columns = ['name', 'score', 'age']
)
print(df_.drop_duplicates())
# print(df_.duplicated(subset=['score']))
# print(df_.duplicated(subset=['age']))
print(df_.duplicated(subset=['name']))

      name  score  age
1      Tom     91   29
3  Raymond     87   18
4     Paul     78   37
5    Bobby     66   16
6      Tom     80   25
1    False
2     True
3    False
4    False
5    False
6     True
dtype: bool

In [24]:
# sampling
df.sample(2)

    name  score  age
1    Tom     91   29
5  Bobby     66   16

In [25]:
print(df.replace(18,30)) # Raymond is 30 now lollll

      name  score  age
1      Tom     91   29
2    Jacky     90   19
3  Raymond     87   30
4     Paul     78   37
5    Bobby     66   16
6     Niko     80   25

In [27]:
df.cumsum()
df.cummin(axis=0)

    name  score  age
1    Tom     91   29
2  Jacky     90   19
3  Jacky     87   18
4  Jacky     78   18
5  Bobby     66   16
6  Bobby     66   16

In [32]:
# sorting
print(df.sort_index(ascending=False))

print(df.sort_values(by='score', ascending=False))

df__ = pd.DataFrame(
    {"name": ["Tom", "Gery", "Raymond", "Paul", "Bobby", "sally"],
     "age": [29, 28, 18, 37, 16, 25],
     "score": [91,91,87,78,66,80]},
    index = [i for i in range(1,7)],
    columns = ['name', 'score', 'age']
)
# first by grade second by age
print(df__.sort_values(by=['score', 'age'], ascending=[False,True]))

      name  score  age
6     Niko     80   25
5    Bobby     66   16
4     Paul     78   37
3  Raymond     87   18
2    Jacky     90   19
1      Tom     91   29
      name  score  age
1      Tom     91   29
2    Jacky     90   19
3  Raymond     87   18
6     Niko     80   25
4     Paul     78   37
5    Bobby     66   16
      name  score  age
2     Gery     91   28
1      Tom     91   29
3  Raymond     87   18
6    sally     80   25
4     Paul     78   37
5    Bobby     66   16

In [33]:
print(df.nlargest(2, columns=['score','age']))

    name  score  age
1    Tom     91   29
2  Jacky     90   19